In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Sales_Performance_Dataset.csv')

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Category,Quantity,UnitPrice,InvoiceDate,CustomerID,Age,Gender,Country,SalesRep,ReturnFlag,Revenue
0,INV168777,P0139,Product 139 - damaged,Fashon,5,873.93,45145,C004539,60.0,Female,Austalia,SR014,0,4369.65
1,INV172125,P0168,Product 168,electronisc,4,625.62,09-03-2023 19:45,C001993,40.0,Female,USA,SR015,0,2502.48
2,INV140531,P0135,Product 135,Health,6 units,376.26,45027,C004965,20.0,Male,Germany,SR006,0,2257.56
3,INV193354,P0075,Product 75,Home Decor,4,962.97,05-12-2023 01:33,C003444,25.0,Male,U S A,SR014,0,"$3,851.88 USD"
4,INV119476,P0012,Product 12,Fashon,9,35.23,25-02-2023 11:19,C002687,61.0,Male,Canada,SR018,0,317.07

In [9]:
df.tail()

,InvoiceNo,StockCode,Description,Category,Quantity,UnitPrice,InvoiceDate,CustomerID,Age,Gender,Country,SalesRep,ReturnFlag,Revenue
102995,INV144566,P0133,Product 133,Grocery,7,125.84,45144,C002568,34.0,Male,Austalia,SR004,0,880.88
102996,INV195816,P0170,Product 170 - damaged,GROCERY,8,96.86,25-08-2023 21:00,C003588,69.0,Female,USA,SR001,0,774.88
102997,INV172173,P0045,NaN,Grocery,4,15.92,15-03-2023 20:07,C000523,23.0,Female,France,SR015,0,63.68
102998,INV179938,P0062,Product 62,Health,7,266.23,07-03-2023 14:51,C001411,21.0,Male,Inda,SR003,0,1863.61
102999,INV189256,P0186,Product 186,Books,9,620.18,17-02-2023 09:50,C002374,44.0,F,Canad,SR007,0,5581.62

In [11]:
df.shape

(103000, 14)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103000 entries, 0 to 102999
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    103000 non-null  object
 1   StockCode    103000 non-null  object
 2   Description  100915 non-null  object
 3   Category     103000 non-null  object
 4   Quantity     103000 non-null  object
 5   UnitPrice    103000 non-null  object
 6   InvoiceDate  103000 non-null  object
 7   CustomerID   97694 non-null   object
 8   Age          99859 non-null   float64
 9   Gender       100988 non-null  object
 10  Country      103000 non-null  object
 11  SalesRep     103000 non-null  object
 12  ReturnFlag   101282 non-null  object
 13  Revenue      103000 non-null  object
dtypes: float64(1), object(13)
memory usage: 11.0+ MB

In [15]:
# Basic cleaning & datatype fixing
df['Quantity'] = pd.to_numeric(df['Quantity'],errors='coerce')
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce')
df['Revenue'] = pd.to_numeric(df['Revenue'], errors='coerce')

In [27]:
# fixing Category inconsistencies
df['Category'] = (df['Category'].astype(str).str.strip().str.upper())

In [43]:
category_map = {
    'BEAUTY':'Beauty',
    'HOME DECOR':'Home Decor',
    'HOME DECORS':'Home Decor',
    'TOYS':'Toys',
    'TOYZ':'Toys',
    'GROCERY':'Grocery',
    'ELECTRONICS':'Electronics',
    'ELECTRONISC':'Electronics',
    'FASHON':'Fashion',
    'FASHION':'Fashion',
    'SPORTS':'Sports',
    'HEALTH':'Healthcare',
    'AUTOMOTIVE':'Automotive',
    'BOOKS':'Books'
}

In [45]:
df['Category'] = df['Category'].replace(category_map)

In [49]:
df['Category'] = df['Category'].fillna('Uncategorized')

In [53]:
df['Category'].value_counts()

Category
Toys           15213
Fashion        14609
Beauty         13092
Electronics    13087
Home Decor     12176
Grocery         9107
Sports          7924
Healthcare      7168
Automotive      6630
Books           3994
Name: count, dtype: int64

In [81]:
#Fixing date discrepancy
def fix_date(x):
    
    if isinstance(x, str) and x.isdigit():
        return pd.to_datetime(int(x), origin = '1899-12-30', unit = 'D')

    if isinstance(x, float) and not np.isnan(x):
        return pd.to_datetime(int(x), origin = '1899-12-30', unit='D')

    try:
        return pd.to_datetime(x, dayfirst=True, errors='coerce')
    except:
        return pd.NaT

In [83]:
df['InvoiceDate'] = df['InvoiceDate'].apply(fix_date)

In [85]:
df['InvoiceDate'].head(20)

0    2023-08-07 00:00:00
1    2023-03-09 19:45:00
2    2023-04-11 00:00:00
3    2023-12-05 01:33:00
4    2023-02-25 11:19:00
5    2023-01-11 17:49:00
6    2023-02-11 00:02:00
7    2023-01-06 00:00:00
8    2023-03-31 14:21:00
9    2023-12-22 16:50:00
10   2023-05-30 23:45:00
11   2023-11-02 07:39:00
12   2023-01-26 10:38:00
13   2023-06-21 19:07:00
14   2023-03-04 06:17:00
15   2023-10-04 20:11:00
16   2023-04-16 17:15:00
17   2023-06-23 00:00:00
18   2023-12-16 00:00:00
19   2023-12-10 05:29:00
Name: InvoiceDate, dtype: datetime64[ns]

In [91]:
#Fixing Country column
df['Country'] = df['Country'].astype(str).str.strip().str.title()

In [95]:
country_map = {
    'Uk':'United Kingdom',
    'Untied States':'United States',
    'U S A':'United States',
    'Usa':'United States',
    'Germny':'Germany',
    'Inda':'India',
    'Austalia':'Australia',
    'Frnace':'France',
    'Canad':'Canada',
}

In [97]:
df['Country'] = df['Country'].replace(country_map)

In [99]:
df['Country'].value_counts()

Country
United States     20804
India             13885
Germany           13773
United Kingdom    13755
France            13653
Australia         13641
Canada            13489
Name: count, dtype: int64

In [103]:
#Cleaning Gender column
df['Gender']= df['Gender'].astype(str).str.strip().str.capitalize()

In [109]:
gender_map={
    'F':'Female',
    'Fem':'Female',
    'M':'Male',
}

In [113]:
df['Gender'] = df['Gender'].replace(gender_map)

In [115]:
df['Gender'] = df['Gender'].replace(['Unknown',''],np.nan)

In [117]:
df['Gender'].value_counts()

Gender
Female    51068
Male      49920
Nan        2012
Name: count, dtype: int64

In [119]:
#Handling missing values from Quantity and Revenue column.
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').fillna(0)

In [121]:
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce').fillna(0)
df['Revenue'] = df['Revenue'].fillna(df['Quantity'] * df['UnitPrice'])

In [129]:
#Seperate +ve and -ve Quantity for future analysis
df_sales_pos = df[df['Quantity'] > 0].copy()
df_returns_neg = df[df['Quantity'] < 0].copy()

In [155]:
#Dropping Irrelevant columns which is no use
df = df.drop(columns='ReturnFlag')

### Analyze Total Sales Per Customer.

In [163]:
sales_per_customer = (
    df_sales_pos.groupby('CustomerID').agg(
        total_revenue = ('Revenue','sum'),
        total_quantity = ('Quantity','sum'),
        total_orders = ('InvoiceNo', lambda x : x.nunique())
    ).sort_values('total_revenue',ascending=False)
)

sales_per_customer.head(10)

            total_revenue  total_quantity  total_orders
CustomerID
C001382          95867.84           174.0            27
C004197          93480.14           173.0            26
C003986          91173.32           179.0            24
C004327          90313.26           167.0            28
C004864          89655.94           135.0            24
C003813          89419.19           173.0            26
C003247          89153.03           150.0            27
C003705          87688.85           131.0            22
C003811          86647.96           159.0            26
C001385          85332.60           133.0            26

### Calculate Moving Average Sales Per Month.

In [170]:
df_sales_pos['year_month'] = df_sales_pos['InvoiceDate'].dt.to_period('M').dt.to_timestamp()

monthly_sales = (
    df_sales_pos.groupby('year_month')['Revenue']
                .sum()
                .reset_index(name = 'monthly_revenue')
                .sort_values('year_month')
)

# Taking 3-Month moving average
monthly_sales['MA-3'] = monthly_sales['monthly_revenue'].rolling(3).mean()

monthly_sales.head()

  year_month  monthly_revenue          MA-3
0 2023-01-01      19560144.19           NaN
1 2023-02-01      17704006.03           NaN
2 2023-03-01      19496355.92  1.892017e+07
3 2023-04-01      18130342.81  1.844357e+07
4 2023-05-01      19858392.51  1.916170e+07

### Segment Customers Based on Total Spending (e.g., low, medium, high).

In [173]:
sales_per_customer['segment'] = pd.qcut(
    sales_per_customer['total_revenue'],
    q = [0, 0.6, 0.9, 1.0],
    labels = ['Low','Medium','High']
)

sales_per_customer['segment'].value_counts()

segment
Low       6458
Medium    3229
High      1077
Name: count, dtype: int64

### Calculate Product Return Rate

In [176]:
Product_sales = df_sales_pos.groupby('StockCode')['Quantity'].sum()

In [180]:
Product_returns = df_returns_neg.groupby('StockCode')['Quantity'].sum().abs()

In [182]:
return_rate = (
    pd.concat([Product_sales, Product_returns], axis=1)
    .fillna(0)
    .reset_index()
)

return_rate.columns = ['StockCode','Sold_Qty', 'Returned_Qty']

return_rate['Return_rate_%'] = (
    return_rate['Returned_Qty'] / return_rate['Sold_Qty'] * 100
).round(2)

return_rate.head()

  StockCode  Sold_Qty  Returned_Qty  Return_rate_%
0     P0001    2309.0          74.0           3.20
1     P0002    2392.0          51.0           2.13
2     P0003    2243.0          58.0           2.59
3     P0004    2339.0          26.0           1.11
4     P0005    2150.0          38.0           1.77

### Identify Top 10 Customers By Lifetime Value

In [187]:
top10_ltv = (
    sales_per_customer.sort_values('total_revenue',ascending=False).head(10)
)

In [189]:
top10_ltv

            total_revenue  total_quantity  total_orders segment
CustomerID
C001382          95867.84           174.0            27    High
C004197          93480.14           173.0            26    High
C003986          91173.32           179.0            24    High
C004327          90313.26           167.0            28    High
C004864          89655.94           135.0            24    High
C003813          89419.19           173.0            26    High
C003247          89153.03           150.0            27    High
C003705          87688.85           131.0            22    High
C003811          86647.96           159.0            26    High
C001385          85332.60           133.0            26    High

### Exporting Cleaned data into csv

In [193]:
df.to_csv('Cleaned_sales_Data.csv', index=False)
sales_per_customer.to_csv('Sales_per_customer.csv', index=False)
monthly_sales.to_csv('Monthly_sales.csv',index=False)